.form {
  width: 100%;
  background-color: var(--backgroundBase);
  padding-bottom: 20px;
  padding-top: 71px;
}

.header h1 {
  font-size: 3.75rem;
  font-weight: 900;
  text-align: center;
  padding-top: 0;
  padding-bottom: 15px;
  margin: 0;
}

.header p {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
}

.sectionFields h2 {
  font-size: 2.25rem;
  font-weight: 600;
  font-family: var(--secondaryFont);
  margin: 0;
  padding-bottom: 60px;
}

.sectionFields {
  padding-left: 134px;
  padding-right: 134px;
  padding-top: 47px;
  padding-bottom: 71px;
}

.fields {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  gap: 30px;
  flex-shrink: auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 60px;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  z-index: 1000;
}

.notification.success {
  background-color: #4caf50;
}

@media (max-width: 1023px) {
  .header h1 {
    font-size: 2.5rem;
  }
  .sectionFields {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header p {
    font-size: 1rem;
  }

  .sectionFields h2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--secondaryFont);
    margin: 0;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .form {
    padding-bottom: 90px;
    padding-top: 40px;
  }
  .sectionFields {
    padding-left: 30px;
    padding-right: 30px;
  }
  .buttons {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .form {
    padding-bottom: 150px;
  }
  .sectionFields {
    padding-left: 10px;
    padding-right: 10px;
  }
}
